
        #logo{
            margin-left: 45%;
            padding: 50px;
        }
       div{
           margin-left: 40%;
           width:300px;
           /* border: 1px solid red; */
          
           background: white;
           box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
           border-radius: 10px;   
       }
       #form{
           padding:30px;
           
       }
       h1{
          margin-left: 30%;
           margin-top: 0%;
       }
       input{
           padding: 3%;
           display: block;
       }
       button{
           padding: 5% 30%;
           margin-top: 30px;
           color: blue;
       }
      